.related-products {
  padding: 48px 0;

  .related-products-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 41px;

    .title {
      font-weight: 600;
      font-size: 22px;
      line-height: 25px;
      letter-spacing: 0.06em;
    }

    .navigation {
      display: flex;
      gap: 16px;
    }
  }

  .related-produts-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    .item {
      display: flex;
      flex-direction: column;
    }

    .item-text {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 16px;
      line-height: 16px;

      .item-text-title {
        opacity: 0.6;
      }
      .item-text-inform {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-text-price {
          font-weight: bold;
        }
      }
    }
  }
}

@media all and (max-width: 1100px) {
  .related-products .related-produts-items {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
}
@media all and (max-width: 570px) {
  .related-products .related-produts-items {
    grid-template: repeat(4, 1fr) / 1fr;
  }
}
